
#contactform{

  transition: 1s transform ease-in-out;

  transform: translateX(200%);
  width: 100%;


  z-index: 1004;

  &.activated{
    transform: translateX(0%);
  }
}

.pull-out-container-contact{
  z-index: 30000;
  //background-color: black;

  height: 800px !important;
  //position: absolute;

  p, ul{
    color: white;

  }
}