#empone{

  transition: 1s transform ease-in-out;

  transform: translateX(200%);
  width: 101%;


  z-index: 1004;

  &.activated{
    transform: translateX(0%);
  }
}



#emptwo{

  transition: 1s transform ease-in-out;

  transform: translateX(200%);
  width: 101%;


  z-index: 1004;

  &.activated{
    transform: translateX(0%);
  }
}



#empthree{

  transition: 1s transform ease-in-out;

  transform: translateX(200%);
  width: 100%;


  z-index: 1004;

  &.activated{
    transform: translateX(0%);
  }
}



.employee-photo{
  width: 100%;
  min-width: 300px;
  //height: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;

  &.left{
    background-image: url('/images/nickingenuity.jpg');
    background-position: bottom;
  }
  &.right{
    background-image: url('/images/dori.jpg');
  }
}

.employee-photo-sm{
  width: 100%;
  height: 400px;



}

.employee-photo-mobile{
  width: 100%;
  height: 200px;



}

.employee-info{
  margin-top: 10px;
  margin-bottom: 45px;
  margin-left:20px;
  margin-right: 20px;
}


.founders{

  .founders-left{
    padding-right: 0 !important;
    transform: translateX(-100%);
    transition: 1s all ease-in-out;
    border-top: 1px solid black;
    border-right: 1px solid white;
overflow: hidden;

    &.activated{
      transform: translateX(0%);
    }
    .founder-button-left{
      background-color: #316980 !important;
      //max-width: 200px;
     font-size: 14pt;
      border: 2px solid white;
      color: white;
      position: absolute;
      bottom: 25%;
      right: 10%;
      padding: 20px;

      transform: translateX(200%);
      transition: 1s all ease-in-out;
    }
    &:hover .founder-button-left{
      transform: translateX(0%);
    }

  }


  .founders-right{
    padding-left: 0 !important;
    transform: translateX(100%);
    transition: 1s all ease-in-out;
    border-top: 1px solid black;
    border-left: 1px solid white;
    overflow: hidden;

    &.activated{
      transform: translateX(0%);
    }
    .founder-button-right{
      background-color: orangered !important;
      //max-width: 200px;
      font-size: 14pt;
      border: 2px solid white;
      color: white;
      position: absolute;
      bottom: 25%;
      left: 10%;
      padding: 20px;
      transform: translateX(-200%);
      transition: 1s all ease-in-out;

    }
    &:hover .founder-button-right{
      transform: translateX(0%);
    }
  }


}