.carousel-inner{
    .item{
        img{
            width: 100%;
        }
    }
}


#whatwedo{

    transition: 1s transform ease-in-out;

    transform: translateX(200%);
    width: 100%;


    z-index: 1004;

    &.activated{
        transform: translateX(0%);
    }
}

#iframe-animation{

    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
}

.pull-out-container{
    z-index: 300;
    background-color: black;

    height: 400px !important;
    position: absolute;

    p, ul{
        color: white;

    }
}

.pull-out-container-inner{
    z-index: 300;
    background-color: black;

    min-height: 400px !important;
    max-height: 600px;
    overflow: hidden;
    position: absolute;
    -webkit-box-shadow: inset 0px 9px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 9px 19px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 9px 19px 0px rgba(0,0,0,0.75);

    p, ul{
        color: white;

    }
}

.services-blocks{
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.colored-back{
    background: white;//linear-gradient(#316980, #387d8c) !important;
    color: #316980 !important;
}



.initial-cover{
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: 1s width ease-in-out;
    transition: 1s width ease-in-out;

    &.activated{
        width: 0;
    }
}

.progress {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid black;
}

